$green: #74D5CE;
$blue: #79CAE7;
$yellow: #EDCA8E;
$red: #E98374;

$green-dark: #267F79;
$blue-dark: #34778F;
$yellow-dark :#A3711A;
$red-dark: #962818;

$font-style: 'Montserrat', sans-serif;

$transition-collapse: height .35s ease !default;

$font-bg: 3.75em;
$font-md: 2.5em;
$font-sm: 1.25em;